<div class='answerblock'>
  <h3><%= @answer %></h3>
  <h3>-You</h3>
</div>
<div class = 'respblock'>
  <h3 class='respons'><%= @resp %></h3>
  <h3>-Your coach</h3>
</div>
<div class = 'img'>
<img  src= <%= @url %>>
</div>
<div class='link'>
<%= link_to "Ask your stupid question again", ask_path %>
</div>
